<div class="main">
  <h2>Full Stack Development workshop</h2>

  <p>TBI-GEU is organising a two days workshop on full stack development. It will be conducted on 13-14 October, 2018.
    Below are the features of the workshop
  </p>
  
  <ul>
    <li>Hand on experience in technologies like HTML, CSS, Javascript, TypeScript</li>
    <li>Git version control</li>
    <li>Certification of excellence after successful completion</li>
    <li>Kits includes pendrive, software, web application</li>
    <li>Fees for the workshop is Rs. 1500/- in which kits are included. You can make payment via UPI/Cash</li>
    <li>For queries and more information contact <b><a href="tel:8791050551"></a>8791050551</b></li>
    <li>To register click <a routerLink= "/register">here</a></li>
  </ul>
</div>