<div class="main">
  <!-- Sign up form -->
  <section class="signup">
      <div class="container">
          <div class="signup-content">
              <div class="signup-form">
                  <h2 class="form-title">Registration Form</h2>
                  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
                      <div class="form-group">
                          <label for="name"><i class="fas fa-user"></i></label>
                          <input type="text" name="name" id="name" formControlName="name" placeholder="Your Name"/>
                      </div>
                      <div class="form-group">
                          <label for="email"><i class="fas fa-envelope-square"></i></label>
                          <input type="email" name="email" id="email" formControlName="email" placeholder="Your Email"/>
                      </div>
                      <div class="form-group">
                          <label for="contact_phone"><i class="fas fa-phone-square"></i></label>
                          <input type="text" name="contact_phone" id="contact_phone" formControlName="number" placeholder="Contact Number"/>
                      </div>
                      <div class="form-group">
                        <label for="course_name"><i class="fas fa-graduation-cap"></i></label>
                        <input type="text" name="course_name" id="course_name" formControlName="course_name" placeholder="Course Name"/>
                      </div>
                      <div class="form-group">
                        <label for="branch_name"><i class="fas fa-user-graduate"></i></label>
                        <input type="text" name="branch_name" id="branch_name" formControlName="branch_name" placeholder="Course Branch"/>
                      </div>
                      <div class="form-group">
                        <label for="date_range"><i class="fas fa-calendar-alt"></i></label>
                        <input type="text" name="date_range" id="date_range" formControlName="course_year" placeholder="Course Year"/>
                      </div>
                      <div class="form-group">
                        <label for="school"><i class="fas fa-school"></i></label>
                        <input type="text" name="school" id="school" formControlName="college_name" placeholder="College Name"/>
                      </div>
                      <div class="form-group form-button">
                          <input type="submit" name="signup" id="signup" class="form-submit" [disabled]="!registerForm.valid" value="Register"/>
                      </div>
                  </form>
              </div>
              <div class="signup-image">
                  <figure><img src="../../assets/images/signup-image.jpg" alt="sing up image"></figure>
              </div>
          </div>
      </div>
  </section>
</div>