<div class="container">
  <div class="row">
    <form class="form-group" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
      <div class="col-sm-12">
          <label for="name" class="col-sm-2 control-label">Name*</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="name" id="name"  placeholder="Your Name"/>
          </div>
      </div>
      <div class="col-sm-12">
          <label for="number" class="col-sm-2 control-label">Contact Number*</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="number" formControlName="number" placeholder="Contact number"/>
          </div>
      </div>
      <div class="col-sm-12">
          <label for="email" class="col-sm-2 control-label">Email Id*</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email id"/>
          </div>
      </div>
      <div class="col-sm-12">
          <label for="course" class="col-sm-2 control-label">Course*</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="course" formControlName="course" placeholder="Your course"/>
          </div>
      </div>
      <div class="col-sm-12">
          <label for="year" class="col-sm-2 control-label">Course Year*</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="year" formControlName="year" placeholder="Your course year"/>
          </div>
      </div>

      <div class="form-group col-sm-12">
        <button type="submit" class="col-sm-10 btn btn-primary btn-lg btn-block login-button">Register</button>
      </div>
    </form>
  </div>
</div>